<mat-toolbar color="primary">
  <span>Tevan Carrell</span>

  <span class="link-buttons">

    <button mat-icon-button
            class="link-icon">
      <fa-icon [icon]="['fas', 'envelope']"
               aria-label="envelope"></fa-icon>
    </button>

    <button mat-icon-button
            class="link-icon">
      <fa-icon [icon]="['fab', 'linkedin']"
               aria-label="linkedin"></fa-icon>
    </button>

    <button mat-icon-button
            class="link-icon">
      <fa-icon [icon]="['fab', 'github']"
               aria-label="github"></fa-icon>
    </button>

  </span>
</mat-toolbar>
