.sleek-logo {
  max-height: 100%;
  max-width: 100%;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  border-bottom: 1px solid white;
}
