<mat-toolbar class="toolbar"
             color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
  <img class="sleek-logo"
       src="assets/sleek.png">

  <span>
    <a mat-button
       routerLink="/about"
       routerLinkActive="active"
       [ngClass]="{'underline': isAboutRoute()}">About</a>
    <a mat-button
       routerLink="/portfolio"
       routerLinkActive="active"
       [ngClass]="{'underline': isPortfolioRoute()}">Portfolio</a>
  </span>
</mat-toolbar>
