$material-form-field-margin: 0.25em;
$material-form-field-padding: 1.34375em;
$padding: $material-form-field-margin+$material-form-field-padding;

.query {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-left: $padding;
  padding-right: $padding;
  box-sizing: border-box;
}
