$material-form-field-margin: 0.25em;
$material-form-field-padding: 1.34375em;
$query-padding: $material-form-field-margin+$material-form-field-padding;

.query {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: $query-padding;
  padding-right: $query-padding;
  box-sizing: border-box;
}
