@import "~@angular/material/theming";

$teal: (50: #ebf6f7,
100: #cde8eb,
200: #abd8dd,
300: #89c8cf,
400: #70bdc5,
500: #57b1bb,
600: #4faab5,
700: #46a1ac,
800: #3c98a4,
900: #2c8896,
A100: #dafaff,
A200: #a7f3ff,
A400: #74ecff,
A700: #5ae8ff,
contrast: (50: #000000,
100: #000000,
200: #000000,
300: #000000,
400: #000000,
500: #000000,
600: #000000,
700: #000000,
800: #ffffff,
900: #ffffff,
A100: #000000,
A200: #000000,
A400: #000000,
A700: #000000));

$yellow: (50: #fefeeb,
100: #fcfcce,
200: #fafaae,
300: #f8f88d,
400: #f7f774,
500: #f5f55c,
600: #f4f454,
700: #f2f24a,
800: #f0f041,
900: #eeee30,
A100: #ffffff,
A200: #fffffd,
A400: #ffffca,
A700: #ffffb1,
contrast: (50: #000000,
100: #000000,
200: #000000,
300: #000000,
400: #000000,
500: #000000,
600: #000000,
700: #000000,
800: #000000,
900: #000000,
A100: #000000,
A200: #000000,
A400: #000000,
A700: #000000));

$gray: (50 : #e6e6e7,
100 : #c1c1c3,
200 : #98989b,
300 : #6f6e73,
400 : #504f55,
500 : #313037,
600 : #2c2b31,
700 : #25242a,
800 : #1f1e23,
900 : #131316,
A100 : #6767f6,
A200 : #3737f3,
A400 : #0000f6,
A700 : #0000dd,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

$primary: $teal;
$accent: $yellow;

$palette-primary: mat-palette($primary);
$palette-accent: mat-palette($accent);
$palette-warn: mat-palette($mat-red);

$theme: mat-dark-theme($palette-primary, $palette-accent, $palette-warn);
$theme-primary-map: map-get($theme, primary);
$theme-primary: mat-color($theme-primary-map, default);
$theme-primary-light: mat-color($theme-primary-map, lighter);
$theme-primary-dark: mat-color($theme-primary-map, darker);

$theme-accent-map: map-get($theme, accent);
$theme-accent: mat-color($theme-accent-map, default);
$theme-accent-light: mat-color($theme-accent-map, lighter);
$theme-accent-dark: mat-color($theme-accent-map, darker);

$theme-foreground-map: map-get($theme, foreground);
$theme-text: map-get($theme-foreground-map, text);
$theme-background-map: map-get($theme, background);
$theme-background: map-get($theme-background-map, background);
$theme-card: map-get($theme-background-map, card);

@include angular-material-theme($theme);
