@import "../../styles/theme.scss";
@import "../../styles/variables.scss";

.portfolio {
  position: fixed;
  width: 100%;
  top: $toolbar-height;
  bottom: 0;
  overflow-y: auto;
}

.centered-view {
  position: relative;
  width: 80%;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0 auto;
}

.project-type-icon {
  padding-right: 16px;
}

.project-type-heading {
  margin: 0;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-row {
  padding-right: 32px;
}

.logo-col {
  padding-bottom: 32px;
}

.demo-row {
  margin-right: 50px;
}

.demo-col {
  margin-bottom: 50px;
}

.mobile-demo {
  height: 400px;
  width: 200px;
  border: 15px solid $theme-card;
  border-radius: 15px;
}

.web-demo {
  height: 196.875px;
  width: 350px;
  border: 15px solid $theme-card;
  border-radius: 15px;
}

.bit-demo {
  height: 275px;
  width: 275px;
  border: 15px solid $theme-card;
  border-radius: 15px;
}

.links {
  text-align: center;
}

.link-button {
  padding-top: 6px;
}

.divider {
  width: 100%;
}
