<div class="portfolio">
  <div class="centered-view"
       fxLayout="column"
       fxLayoutAlign="space-around center"
       fxLayoutGap="96px">
    <ng-container *ngFor="let projectCategory of projectCategories">
      <div class="mat-display-2 project-type-heading"
           fxLayout="row"
           fxLayoutAlign="space-evenly center">
        <mat-icon class="project-type-icon"
                  color="accent"
                  [inline]="true">{{ projectCategory.matIconName }}</mat-icon>

        {{ projectCategory.title }}

        <button *ngIf="isBitsCategory(projectCategory)"
                matTooltip="Smaller, miscellaneous projects"
                mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </div>

      <ng-container *ngFor="let project of projectCategory.projects; let i = index">
        <!-- Set id for autoscrolling to project anchor -->
        <div class="project"
             id="{{project.scrollId}}"
             fxLayout="row"
             fxLayout.lt-md="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="96px"
             fxFlexFill>
          <div fxLayout="column"
               fxLayoutAlign="space-between start"
               fxFlex="50">
            <div fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutAlign="space-between center">
              <img *ngIf="project.logoUrl"
                   class="logo logo-row"
                   [ngClass.lt-md]="{
                     'logo-col': true,
                     'logo-row': false
                   }"
                   src="{{ project.logoUrl }}"
                   loading="lazy"
                   width="150"
                   height="150" />

              <div fxLayout="column"
                   fxLayoutAlign="space-between start">
                <div class="mat-h1">{{ project.name }}</div>
                <div class="mat-body">{{ project.description }}</div>
              </div>
            </div>
          </div>

          <div class="project-visualization"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="center center"
               fxFlex="50">
            <div class="demo-row"
                 [ngClass.lt-md]="{
                   'demo-col': true,
                   'demo-row': false
                 }">
              <div *ngIf="project.demo.path">
                <img *ngIf="isMobileDemo(project.demo)"
                     class="mobile-demo"
                     src="{{ project.demo.path }}"
                     loading="lazy"
                     width="250"
                     height="400" />
                <img *ngIf="isWebDemo(project.demo)"
                     class="web-demo"
                     src="{{ project.demo.path }}"
                     loading="lazy"
                     width="300"
                     height="169" />
                <img *ngIf="isBitDemo(project.demo)"
                     class="bit-demo"
                     src="{{ project.demo.path }}"
                     loading="lazy"
                     width="275"
                     height="275" />
              </div>
            </div>

            <div class="links"
                 fxLayout="column"
                 fxLayout.lt-md="row"
                 fxLayoutAlign="space-between center"
                 fxLayoutGap="8px">
              <a mat-icon-button
                 class="link-button"
                 *ngIf="hasGithubLink(project.links)"
                 href="{{ project.links.githubUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'github']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 *ngIf="hasAndroidLink(project.links)"
                 href="{{ project.links.androidUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'android']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 *ngIf="hasIosLink(project.links)"
                 href="{{ project.links.iosUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'apple']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 *ngIf="hasWebLink(project.links)"
                 href="{{ project.links.webUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fas', 'link']"
                         size="lg"></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>
      </ng-container>
    </ng-container>
  </div>
</div>
