<div class="portfolio">

  <div class="centered-view"
       fxLayout="column"
       fxLayoutAlign="space-around center"
       fxLayoutGap="96px">

    <ng-container *ngFor="let projectCategory of projectCategories">

      <div class="mat-display-2 project-type-heading"
           fxLayout="row"
           fxLayoutAlign="space-evenly center">
        <mat-icon class="project-type-icon"
                  color="primary"
                  [inline]="true">{{ projectCategory.matIconName }}</mat-icon>

        {{ projectCategory.title }}

        <button *ngIf="projectCategory.title == 'Bits'"
                matTooltip="Unbranded, miscellaneous projects"
                mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </div>

      <ng-container *ngFor="let project of projectCategory.projects; let i=index">
        <div class="project"
             fxLayout="row"
             fxLayout.lt-md="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="96px"
             fxFlexFill>

          <div fxLayout="column"
               fxLayoutAlign="space-between center"
               fxFlex="50">

            <div fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutAlign="space-between center">

              <img *ngIf="project.logoUrl"
                   class="logo logo-row"
                   [ngClass.lt-md]="{
                     'logo-col': true,
                     'logo-row': false
                   }"
                   src="{{ project.logoUrl }}"
                   loading="lazy">

              <div fxLayout="column"
                   fxLayoutAlign="space-between center">

                <div class="mat-h1">{{ project.name }}</div>
                <div class="mat-body">{{ project.description }}</div>

              </div>
            </div>
          </div>

          <div class="project-visualization"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="center center"
               fxFlex="50">

            <div class="demo-row"
                 [ngClass.lt-md]="{
                   'demo-col': true,
                   'demo-row': false
                 }">

              <img *ngIf="project.demo.path"
                   [ngClass]="{
                     'mobile-demo': isMobileDemo(project.demo),
                     'web-demo': isWebDemo(project.demo),
                     'bit-demo': isBitDemo(project.demo)
                   }"
                   src="{{ project.demo.path }}"
                   loading="lazy">

            </div>

            <div class="links"
                 fxLayout="column"
                 fxLayout.lt-md="row"
                 fxLayoutAlign="space-between center"
                 fxLayoutGap="8px">

              <a mat-icon-button
                 class="link-button"
                 color="accent"
                 *ngIf="hasGithubLink(project.links)"
                 href="{{ project.links.githubUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'github']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 color="accent"
                 *ngIf="hasAndroidLink(project.links)"
                 href="{{ project.links.androidUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'android']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 color="accent"
                 *ngIf="hasIosLink(project.links)"
                 href="{{ project.links.iosUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fab', 'apple']"
                         size="2x"></fa-icon>
              </a>

              <a mat-icon-button
                 class="link-button"
                 color="accent"
                 *ngIf="hasWebLink(project.links)"
                 href="{{ project.links.webUrl }}"
                 target="_blank">
                <fa-icon [icon]="['fas', 'link']"
                         size="lg"></fa-icon>
              </a>
            </div>
          </div>

        </div>

        <mat-divider class="divider"
                     *ngIf="i != projectCategory.projects.length-1"></mat-divider>

      </ng-container>

    </ng-container>

  </div>

</div>
